*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}
/* common shared style */
.primary-btn{
    border: 0;
    padding: 22px 43px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 20px;
}
.primary{
    color: #E55473;
}

/* banner style */
.banner-container{
    height: 90vh;
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.banner-right img{
  width: 400px;
  height: 585px;
  
 
  
   
     
}
.banner-left{
    margin-left: 100px;
}
.banner-title{
    color: #272727;
    font-size: 55px;
    font-weight: 800;
    width: 708px;
    margin-bottom: 40px;
}
.banner-desc{
   color: rgba(39, 39, 39, 0.60);
   font-size: 18px;
   width: 634px;
   margin-bottom: 40px;
   /* font-weight: 400; */
}
/* feature section */
.feature-title{
    text-align: center;
    color: #272727;
    margin-top: 80px;
    font-size: 30px;
    font-weight: 900;

}
.feature-desc{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
margin: 20px;
padding-bottom: 20px;
}
.card{
    width: 300px;
    height: 330px;
    border: 1px solid white;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    text-align: center;
   
    
}
.card img {
   width: 200px;
   height: 280px;
     margin: 50px;
}
.feature-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  margin: 0 auto;
   
}
.blue-card{
    background-color: rgba(5, 151, 160, 0.15);;
}
.gray-card{
    background: rgba(71, 125, 17, 0.15);
}
.flower-title{
   text-align: center;
   text-decoration: underline;
   margin-top: 20px;
}
/* delivery section */
.delivery-container{
    background: rgba(39, 39, 39, 0.05);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 50px;
    margin: 80px 180px;
}
.delivery-container img{
    padding: 20px;
}
.delivery,.support,.product{
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
}

/* Hot Deal section */
.hot-deal-container{
    display: flex;
    justify-content: center;
   align-items: center;
    background: rgba(229, 84, 115, 0.05);
    border-radius: 10px;
   gap: 20px;
   padding: 100px;
  
}
.hot-deal-img img{
    width: 150px;
    height: 200px;
}

.hot-deal-btn{
  display: flex;
  justify-content: center;
  align-items: center;
 margin-left: 200px;
 margin-top: 20px;
   
}
/* instagram section */
.insta-card-img img{
    width: 220px;
    height: 280px;
    border-radius: 10px;
}
.instagram-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 30px;
}

/* latest deal section */
.latest-deal{
    background-image: url("Flower Asset/Rectangle\ 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 80px 180px;
   padding: 40px;
    border-radius: 10px;
}
.input-email{
    border: 0;
    padding: 15px 300px 15px 5px;
    text-align: left;
    margin-left: 30px;
    border-radius: 10px;
}
.email-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
   
}
.email-btn{
    padding: 12px 18px;
}

/* footer-section */
.footer-container{
    background-color: black;
    padding: 50px;
}
.footer-title ,.footer-desc {
    color: white;
}
.footer-title{
    font-size: 45px;
}
.copy{
    text-align: center;
    color: rgba(255, 255, 255, 0.548);
}
